In [11]:
import pandas as pd
import numpy as np
from IPython.display import display
admission = pd.read_csv('data/HDHI Admission data.csv')
mortality = pd.read_csv('data/HDHI Mortality Data.csv')
pollution = pd.read_csv('data/HDHI Pollution Data.csv')
table_headings = pd.read_csv('data/table_headings.csv')

In [13]:
display(admission)
display(mortality)
display(pollution)
display(table_headings)

         SNO MRD No.       D.O.A  ... SHOCK  PULMONARY EMBOLISM CHEST INFECTION
0          1  234735    4/1/2017  ...     0                   0               0
1          2  234696    4/1/2017  ...     0                   0               0
2          3  234882    4/1/2017  ...     0                   0               0
3          4  234635    4/1/2017  ...     0                   0               0
4          5  234486    4/1/2017  ...     0                   0               0
...      ...     ...         ...  ...   ...                 ...             ...
15752  15753  699585  31/03/2019  ...     0                   0               0
15753  15754  699500   3/31/2019  ...     0                   0               0
15754  15755  700415  31/03/2019  ...     0                   0               0
15755  15756  699524  31/03/2019  ...     0                   0               0
15756  15757  699524  31/03/2019  ...     0                   0               0

[15757 rows x 56 columns]

     S.NO     MRD  AGE GENDER  RURAL/URBAN DATE OF BROUGHT DEAD
0     353  235134   64       M           U             4/2/2017
1     301  235138   50       F           R             4/2/2017
2     302  236880   78       M           R             4/4/2017
3     278  238418   67       M           U             4/6/2017
4     276  239684   74       M           U             4/8/2017
..    ...     ...  ...     ...         ...                  ...
354   207  667743   48       M           U             2/8/2019
355   359  672791   49       F           U            2/16/2019
356   254  607486   54       M           U            2/24/2019
357    95  357880   61       M           U            3/28/2019
358   136  470035   70       F           U            3/31/2019

[359 rows x 6 columns]

          DATE  AQI  PM2.5 AVG  ...  MAX TEMP  MIN TEMP  HUMIDITY
0    3/25/2017   75         75  ...        36        18      32.0
1    3/26/2017   82         82  ...        38        19      23.0
2    3/27/2017   72         72  ...        40        20      14.0
3    3/28/2017   80         78  ...        40        21      36.0
4    3/29/2017   73         64  ...        40        23      31.0
..         ...  ...        ...  ...       ...       ...       ...
732  3/27/2019   93         93  ...        30        16      35.0
733  3/28/2019  103        103  ...        31        17      32.0
734  3/29/2019   80         78  ...        32        17      30.0
735  3/30/2019   91         91  ...        33        20      20.0
736  3/31/2019   77         68  ...        35        20       5.0

[737 rows x 27 columns]

      Table Heading   Explanatory Name
0               SNO      Serial Number
1           MRD No.   Admission Number
2             D.O.A  Date of Admission
3             D.O.D  Date of Discharge
4               AGE                AGE
...             ...                ...
16379           NaN                NaN
16380           NaN                NaN
16381           NaN                NaN
16382           NaN                NaN
16383           NaN                NaN

[16384 rows x 2 columns]